.form {
    /* Item block with multiple elements (label, input, icon, etc...)  */
    &__item {
        @include displayFlex(row, nowrap, center, center, center);
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    label {
        margin-bottom: 20px;
        min-width: 140px;
        text-align: left;
    }

    i {
        position: absolute;
        top: 17%;
        left: 95%;
        transform: translate(-50%, 0);
        font-size: $default-font-size;
        color: $color-gray;
    }

    input {
        border-radius: 5px;
        width: 100%;
        padding: 15px 10px;
        margin-bottom: 20px;
        position: relative;
        color: $color-black;
        font-size: $default-font-size;
        border: 1px solid $color-gray;
    
        &:focus {
          outline: 1px solid $main-color;
        }
        &[type="date"]:invalid::-webkit-datetime-edit {
          color: $color-gray;
        }
    }
}