form {
    /* Item block with multiple elements (label, input, icon, etc...)  */
    .form__item {
        @include displayFlex(column, nowrap, center, center, center);
        width: 100%;
        margin: 0 auto;
        position: relative;
        padding: 5px 0;
        margin-bottom: 15px;

        & > span{
            position: relative;
            width: 100%;
            display: block;
        }
    }

    label {
        margin-bottom: 20px;
        min-width: 140px;
        text-align: left;
    }

    i {
        position: absolute;
        top: 25%; left: 95%;
        transform: translate(-50%, 0);
        font-size: $default-font-size;
        color: $color-gray;
        cursor:pointer;
    }

    input {
        border-radius: 5px;
        width: 100%;
        padding: 15px 10px;
        position: relative;
        color: $color-black;
        font-size: $default-font-size;
        border: 1px solid $color-gray;
    
        &:focus {
          outline: 1px solid $main-color;
        }
        &[type="date"]:invalid::-webkit-datetime-edit {
          color: $color-gray;
        }
    }

    button {
        margin: 1.5rem 0;
    }

    .instructions {
        font-size: 0.85rem;
        border-radius: 0.5rem;
        background: $color-gray-dark;
        color: #fff;
        padding: 0.25rem 0.60rem;
        position: relative;
        bottom: -5px;
        width: 100%;
    }
    
    .instructions > svg {
        margin-right: 0.25rem;
    }
    
    .offscreen {
        position: absolute;
        left: -9999px;
    }

    .hide {
        display: none;
    }
    
    .valid {
        color: $color-blue;
        margin-left: 0.25rem;
    }
    
    .invalid {
        color: $a-color;
        margin-left: 0.25rem;
    }
    
    .errmsg {
        color: $a-color;
        font-weight: bold;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
    .line {
        display: inline-block;
    }
    
}