nav { 
    ul {
        @include displayFlex(row, nowrap, center, flex-start, center);

        li {
            a, span {
                @include fonts($main-color, 18px, 700, 21px);
                text-decoration: none;
                padding: 8px 10px;
                display: block;
                cursor: pointer;

                &.active, 
                &:hover {
                    text-decoration: underline;
                    color: $color-orange;
                }
            }
        }
    }
}