/* COLORS */
$color-white: #ffffff;
$color-black: #000000;
$color-gray-dark: #333333;
$color-gray-light: #e7e0e0;

$main-color: #480cb6;
$color-orange: #ff9900; 

$h1-color: red;
$h2-color: green;
$h3-color: blue;

$p-color: black;
$a-color: pink;
$a-hover-color: rgb(10, 160, 72);



/* SIZES */
$default-font-size: 1.6rem;

$container: 1440px;
