/* COLORS */
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #858585;
$color-gray-dark: #333333;
$color-gray-light: #e7e0e0;

$main-color: #3890b6;
$color-orange: #ff9900; 

$h1-color: red;
$h2-color: green;
$h3-color: blue;

$p-color: black;
$a-color: pink;
$a-hover-color: rgb(10, 160, 72);


$font-size-50: 4.2rem;      // 50px
$font-size-25: 2.1rem;      // 25px
$font-size-22: 2.2rem;      // 22px
$font-size-20: 1.8rem;      // 20px
$font-size-18: 1.7rem;      // 18px
$default-font-size: 1.6rem; // 16px


$container: 1440px;
