/* COLORS */
$color-white: #ffffff;
$color-black: #000000;
$color-blue: #489afd;
$color-pink: #e566a2;
$color-orange: #ea9154;

$color-gray: #858585;
$color-gray-dark: #333333;
$color-gray-light: #e7e0e0;

$main-color: #1f2060;


$p-color: black;

$a-color: #85236c;
$a-hover-color: #af226e;

$default-font-size: 1.3rem; // 20px

$container: 80vw;
