.home-page {
    & > div {
        @include displayFlex(row, nowrap, center, space-between, center);

        @include respond(tab-port) {
            @include displayFlex(column, nowrap, center, center, center);
        }
    }

    &__back-image {
        max-width: 800px;

        @include respond(tab-land) {
            max-width: 400px;
        }
        @include respond(tab-port) {
            max-width: 70vw;
        }
        
        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    &__description {
        ul, li {
            list-style: square;
            list-style-position: inside;
        }
    
        li {
            @include fonts($color-black, $default-font-size, 400, 27px); 

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }

            span {
                @include fonts($color-orange, $default-font-size, 500, 27px); 
            }
        }

        p {
            @include fonts($color-black, $default-font-size, 400, 27px); 

            &:not(:first-child) {
                margin-top: 1rem;
            }
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        a {
            font-size: 20px;
        }
    }
}